* text=auto

*.js text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.CBE binary
*.cbe binary
*.sav binary
*.dat binary
